<!DOCTYPE html>
<html lang="EN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timestamp Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>

    <div class="container">
      <h3>Try it yourself:</h3>
      <form id="timestampForm">
        <input type="text" id="dateInput" placeholder="Enter date or timestamp">
        <button type="submit">Submit</button>
      </form>
      <p>
        <code id="result"></code>
      </p>
    </div>

    <div class="container footer">
      <p>By <a href="https://github.com/creinis">Carlos Reinis</a></p>
      <hr />
    </div>

    <script>
      document.getElementById('timestampForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const dateInput = document.getElementById('dateInput').value;
        fetch(`/api/${dateInput}`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.error) {
              document.getElementById('result').textContent = `Error: ${data.error}`;
            } else {
              document.getElementById('result').textContent = `{"unix": ${data.unix}, "ISO": ${data.iso}, "RFC 2822": ${data.rfc2822}, "utc": ${data.utc}}`;
            }
          })
          .catch(error => {
            document.getElementById('result').textContent = 'Error: ' + error;
          });
      });
    </script>
  </body>
</html>
